# IDEs
.vscode/
.trae/

# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo

# frontend
node_modules
dist
dist-electron
coverage
*.tsbuildinfo

# Env files & secrets
.env
.env.*.local

# Other sensitive files
*.pem
*.key
*.crt
