# IDEs
.vscode/
.trae/

# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo

# frontend
node_modules
dist
dist-electron
coverage
*.tsbuildinfo
vite.config.d.ts

# Env files & secrets
.env
.env.*.local

# Other sensitive files
*.pem
*.key
*.crt

# openclaw-extension
openclaw-extension/node_modules
openclaw-extension/dist
openclaw-extension/*.tsbuildinfo

# gstack
.gstack/
gstack/
